<div class="title center-align">
    <% if (is_home() && config.subtitle && config.subtitle.length> 0) { %>
        <%= config.subtitle %>
            <% } else { %>
                <%= page.title %>
                    <% } %>
</div>